body{
    font-family: 'effra';
    text-transform: uppercase;
    letter-spacing: .3em;
    font-size: 11px;
    background: #000;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
}

.link{
    font-weight: 300;
    color: #FFF;

    &:before{
        content: '';
        width: 15px;
        height: 1px;
        background: #FFF;
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        opacity: .4;
        @include transition(.2s);
    }

    &:hover{
        color: #FFF;
        text-decoration: none;
        &:before{
            width: 20px;
        }
    }
}
