.header{
    @include clearfix;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 400;
    @include transition(.4s);
    .navigation{
        float: right;
        padding: 45px;
        font-weight: 100;
        font-size: 11px;
        @include transition(.6s);
        cursor: pointer;
    }

    &.is-fixed{
        background: #111;

        .logo{
            padding: 20px 20px 10px;
        }
        .navigation{
            padding: 30px 30px 27px;
        }
    }
}
.logo{
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    padding: 45px;
    float: left;
    @include transition(.6s);

    .logo-title{
        font-weight: 500;
        letter-spacing: .33em;
        font-size: 18px;
    }
    .sub-title{
        font-size: 6px;
        margin-top: 7px;
        opacity: .8;
        font-weight: 100;
        letter-spacing: .3em;
    }
}


.menu{
    position: fixed;
    left: 0;
    top: 30px;
    bottom: 30px;
    right: 30px;
    background: #FFF;
    z-index: 400;
    @include translate(-100%, 0);
    @include transition(.65s);

    &:before{
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #111;
        z-index: -1;
        @include translate(-100%, 0);
        @include transition(.6s);
    }

    &.is-open{
        left: 30px;
        @include translate(-0%, 0);
        &:before{
            @include translate(-0%, 0);
        }
    }
    .links{
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        @include translate(0, -50%);
        text-align: center;

        li{
            display: inline-block;
            a{
                color: #FFF;
                font-size: 16px;
                font-weight: 100;
                padding: 5vw;
                display: block;
                position: relative;

                &:before, &:after{
                    content: '';
                    width: 220px;
                    height: 220px;
                    background: url('../images/hover-menu.svg');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-size: 100% auto;
                    @include transition(1s);
                    opacity: 0;
                }
                &:after{
                    transform: translate(-50%, -50%) rotate(45deg);
                    @include transition(1.4s);
                }

                &:hover{
                    &:before, &:after{
                        opacity: 1;
                    }
                    &:before{
                        transform: translate(-50%, -50%) rotate(245deg);
                        @include transition(4s);
                    }&:after{
                        transform: translate(-50%, -50%) rotate(386deg);
                        @include transition(8s);
                    }
                }
            }
        }
    }
}


.menu-is-open{
    overflow: hidden;
    .logo{
        @include translate(30px, 30px);
    }
    .navigation{
        @include translate(-30px, 30px);
    }
}
